.list_vert-enter-active, .list_vert-leave-active,
.list_hor-enter-active, .list_hor-leave-active {
  transition: all .3s ease-out;
}

.list_vert-enter, .list_vert-leave-to {
  opacity: 0;
  transform: scaleX(50);
}

.list_hor-enter, .list_hor-leave-to {
  opacity: 0;
  transform: scaleY(50);
}