.slide-fade-enter-active {
  transition: all .3s ease-out;
}
.slide-fade-leave-active {
  transition: all .1s ease-out;
}
.slide-fade-enter, .slide-fade-leave-to {
  transform: scale(5);
  opacity: 0;
}